.svn
# Compiled Object files
*.slo
*.lo
*.o
*.obj
/include/
/bin/
/lib/
.cache
/.htslib*
/*.gff
/*.gtf
/*.fa*
/htslib-*
/compile_commands.json
/gtest
/testing/*.fa*
/testing/*.g?f
/gfftest
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Default/
